@mixin _990 {
    @media (max-width: 990px) {
      @content;
    }
  }

.swap {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 24px;
    background: rgba(29, 25, 37, 0.75);
  backdrop-filter: blur(11px);
  border-radius: 6px;
  margin: auto;
    .left {
      width: 375px;
      display: flex;
      flex-direction: column;
      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 24px;
      }
      .fromTo {
        align-self: center;
        padding: 6px;
        background: #272332;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
      }
      .asset {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .line {
            display: flex;
            justify-content: space-between;
            ul {
                margin: 0;
                padding: 0;
                height: 32px;
                margin-top: 8px;
                max-height: 50%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                .modalAsset {
                  display: flex;
                  align-items: center;
                  gap: 6px;
                  height: 32px;
                  position: relative;
                  z-index: 5;
                  cursor: pointer;
                  .assetInfo {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    gap: 8px;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 160%;
                    .logo {
                      width: 32px;
                      height: 32px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      background: #272332;
                      border-radius: 8px;
                    }
                  }
                  .assetMore {
                    margin-right: 16px;
                  }
                }
              }
              .balance {
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #7A7B7C;
                align-self:flex-end;
              }
        }
        .sum {
            background: #272332;
            border-radius: 4px;
            height: 39px;
            padding: 10.5px;
            width: 100%;
          }
          .percents {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 3px;
            .percent {
                background: #0F0C17;
                border-radius: 8px;
                padding: 3px 4px;
                cursor: pointer;
                .text {
                    font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                }
            }
          }
      }
      .go {
        background: linear-gradient(90deg, #fb69b2 0%, #4646f6 100%);
        box-shadow: 0px 0px 28px rgba(159, 88, 213, 0.44);
        border-radius: 4px;
        padding: 15.5px 0;
        margin-top: 64px;
        &:hover {
            background: linear-gradient(90deg, #d75596 0%, #3838cd 100%);
          }
      }
    }
    .right {
      width: 375px;
      display: flex;
      flex-direction: column;
      .coming {
        height: 210px;
        background: #0F0C17;
        backdrop-filter: blur(2px);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        .text {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            margin-top: 91px;
            user-select: none;
        }
      }
      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin-top: 18px;
        margin-bottom: 12px;
      }
      .subtitle {
        display: flex;
        gap: 5px;
        align-items: center;
        .text {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
        }
        .info {
            width: 13.33px;
            height: 13.33px;
        }
      }
      .slippagePercents {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin: 9px 0;
        .percent {
            background: #0F0C17;
            border-radius: 8px;
            padding: 3px 9.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .text {
                background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
      }
      .speeds {
        margin-top: 9px;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        .speed {
            background: #272332;
            border-radius: 8px;
            font-weight: 500;
            font-size: 13px;
            line-height: 160%;
            padding: 3px 8px;
            cursor: pointer;
            &.active {
                background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
            }
        }
      }
    }
    @include _990 {
        width: 423px;
    }
  }
