@mixin _990 {
    @media (max-width: 990px) {
      @content;
    }
  }

.swap {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 24px;
    background: rgba(29, 25, 37, 0.75);
  backdrop-filter: blur(11px);
  border-radius: 6px;
  margin: auto;
    @include _990 {
        width: 423px;
    }
  }
