.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 15.833vw;
    top: -80px;
    align-items: center;
    transition: .35s cubic-bezier(0.645, 0.045, 0.355, 1);
    .logo {
        &:hover {
            cursor: pointer;
        }
    }
    .langs {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        .lang {
            color: #7A7B7C;
            cursor: pointer;
            &:hover {
                color: white;
            }
            &.active {
                color: white;
            }
        }
    }
}

.toastify {
    top: 77px;
}