* {
    color: white;
}

.arrow {
    position: absolute;
    bottom: 0;
    left: calc(50% - 16px);
    &:hover {
        cursor: pointer;
    }
}

.section__one {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    contain: layout;
    .ellipse {
        width: calc(100vh - 80px);
        height: calc(100vh - 80px);
        shape-outside: circle();
        border-radius: 50%;
        background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
        opacity: 0.55;
        filter: blur(120px);
        transform: rotate(-180deg);
        &:first-child {
            margin-left: calc(240px - 100vh);
        }
        &:last-child {
            margin-right: calc(240px - 100vh);
        }
    }
    .content {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 552px;
        height: 331px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .logo {
            width: 303px;
            margin: 0 auto;
            .line1 {
                .all {
                    height: 33px;
                    width: 33px;
                    background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                    border-radius: 1.11111e+06px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 2px;
                }
            }
            .line2 {
                display: flex;
                .one {
                    width: 46px;
                    height: 33px;
                    background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                    border-radius: 1.11111e+06px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 12px;
                    margin-left: 5px;
                }
            }
            .line3 {
                .in {
                    height: 33px;
                    width: 33px;
                    background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                    border-radius: 1.11111e+06px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 117px;
                    margin-top: 10px; 
                }
            }
        }
        .about {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
        .buttons {
            display: flex;
            margin: 0 auto;
            gap: 18px;
            .join {
                padding: 12px 28px;
                background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                box-shadow: 0px 0px 28px rgba(159, 88, 213, 0.44);
                border-radius: 4px;
            }
            .whitepaper {
                padding: 12px 28px;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                background: linear-gradient(#0F0C17,#0F0C17) padding-box,
                    linear-gradient(to right, rgba(251, 105, 178, 1),
                  rgba(70, 70, 246, 1)) border-box;
                border: 1px solid transparent;
                border-radius:4px;
                display:inline-block;
                .whitepaper__text {
                    margin: auto;
                    background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}

.section__two {
    padding-top: 120px;
    padding-bottom: 150px;
    .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 32px;
        }
        .description {
            max-width: 883px;
            color: #7A7B7C;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            text-align: center;
        }
        .social {
            display: flex;
            gap: 24px;
            margin-top: 42px;
            .telegram {
                width: 52px;
                height: 52px;
                border-radius: 50%;
                background: white;
            }
            .twitter {
                width: 52px;
                height: 52px;
                border-radius: 50%;
                background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                box-shadow: 0px 0px 32px -2px rgba(162, 88, 212, 0.55);
            }
        }
    }
}

.section__three {
    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 52px;
        h1 {
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 32px;
        }
        .developments {
            display: flex;
            gap: 35px;
            .development {
                position: relative;
                overflow: hidden;
                display: flex;
                isolation: isolate;
                .content {
                    background: rgba(29, 25, 37, 0.75);
                    backdrop-filter: blur(11px);
                    border-radius: 6px;
                    padding: 24px 32px;
                    height: 279px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    isolation: isolate;
                    h1 {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 28px;
                        background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                        margin-bottom: 24px;
                    }
                    .about {
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 160%;
                        width: 321px;
                    }
                    .to {
                        padding: 12px 28px;
                        background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                        box-shadow: 0px 0px 28px rgba(159, 88, 213, 0.44);
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: white;
                        align-self: start;
                    }
                }
                .ellipse {
                    width: 600px;
                    height: 600px;
                    position: absolute;
                    background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                    opacity: 0.12;
                    filter: blur(120px);
                    transform: rotate(-180deg);
                    left: 132px;
                    top: -161px;
                }
            }
        }
    }
    padding-bottom: 150px;
}

.section__four {
    .block {
        max-width: 1223px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        h1 {
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 32px;
        }
    }
}