@mixin __750 {
    @media (max-width: 750px){
        @content;
    }
}

@mixin _750 {
    @media (min-width: 750px){
        @content;
    }
}

.logo {
    width: 270px;
    margin: 0 auto;
    .line1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .all {
            height: 33px;
            width: 33px;
            background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
            border-radius: 1.11111e+06px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2px;
        }
        .one {
            width: 46px;
            height: 33px;
            background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
            border-radius: 1.11111e+06px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include _750 {
                display: none;
            }
        }
        @include __750 {
            margin-left: 9px;
        }
    }
    .line2 {
        display: flex;
        .one {
            width: 46px;
            height: 33px;
            background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
            border-radius: 1.11111e+06px;
            display: none;
            justify-content: center;
            align-items: center;
            margin-top: 12px;
            margin-left: 5px;
            @include _750 {
                display: flex;
            }
        }
        @include __750 {
            margin-left: 9px;
        }
    }
    .line3 {
        .in {
            height: 33px;
            width: 33px;
            background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
            border-radius: 1.11111e+06px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 115px;
            margin-top: 10px; 
        }
        @include __750 {
            margin-left: 9px;
        }
    }
    @include _750 {
        width: 303px;
    }
}
