@mixin _1380 {
    @media (max-width: 1380px){
        @content;
    }
}

@mixin _1300 {
    @media (max-width: 1300px){
        @content;
    }
}

@mixin _1130 {
    @media (max-width: 1130px){
        @content;
    }
}

@mixin _1000 {
    @media (max-width: 1000px){
        @content;
    }
}

@mixin _950 {
    @media (max-width: 950px){
        @content;
    }
}

header {
    height: 80px;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .35s cubic-bezier(0.645, 0.045, 0.355, 1);
    .container {
        display: flex;
        min-width: 100%;
        padding: 0 107px;
        align-items: center;
        justify-content: space-between;
        ul {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            li {
                display: inline-block;
                position: relative;
                &:after {
                    background-color: white;
                    display: block;
                    content: "";
                    height: 1.5px;
                    width: 0%;
                    -webkit-transition: width .3s ease-in-out;
                    -moz--transition: width .3s ease-in-out;
                    transition: width .3s ease-in-out;
                }
                a {
                    color: #7A7B7C;
                    transition: color 0.3s;
                    &.active {
                        color: white;
                    }
                    &:hover {
                        cursor: pointer;
                        color: white;
                    }
                }
            }
            li:hover:after, &:focus:after  {
                width: 100%;
            }
            @include _1380 {
                padding-inline-start:0;
            }
            
            @include _950 {
                display: none;
            }
        }
        .right {
            display: flex;
            align-items: center;
            gap: 12px;
            .button {
                padding: 12px 28px;
                background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
                box-shadow: 0px 0px 28px rgba(159, 88, 213, 0.44);
                border-radius: 4px;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: white;
                &:hover {
                    background: linear-gradient(90deg, #D75596 0%, #3838CD 100%);
                    box-shadow: 0;
                }
                @include _1130 {
                    display: none;
                }
            }
            .langs {
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                .lang {
                    color: #7A7B7C;
                    cursor: pointer;
                    &:hover {
                        color: white;
                    }
                    &.active {
                        color: white;
                    }
                }
                .between {
                    @include _1000 {
                        display: none;
                    }
                }
                @include _1000 {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
            }
            nav {
                height: 50px;
                width: 100%;
                align-items: center;
                display: none;
                .burgerBtn {
                    width: 24px;
                    height: 20px;
                    margin-right: 20px;
                    position: relative;
                    cursor: pointer;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        width: 24px;
                        border: 1px solid white;
                        border-radius: 2px;
                        display: none;
                        @include _950 {
                            display: block;
                        }
                    }
                    span {
                        content: '';
                        position: absolute;
                        top: 9px;
                        width: 24px;
                        border: 1px solid white;
                        border-radius: 2px;
                        display: none;
                        @include _950 {
                            display: flex;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 24px;
                        border: 1px solid white;
                        border-radius: 2px;
                        display: none;
                        @include _950 {
                            display: flex;
                        }
                    }
                }  
                
                @include _950 {
                    display: flex;
                }
            }
        }
        @include _1380 {
            padding: 0 55px;
        }

        @include _1300 {
            padding: 0 16px;
        }
    }
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background: #0F0C17;
        z-index: 5;
    }
}

