@mixin _420 {
    @media (max-width: 420px){
        @content;
    }
}
@mixin _900 {
    @media (max-width: 900px){
        @content;
    }
}

.chart {
    margin-left: 9px;
    @include _900 {
        font-size: 12px;
    }
    @include _420 {
        margin-left: 0;
        font-size: 12px;
        margin-right: 0;
    }
}