footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .container {
        display: flex;
        min-width: 1364px;
        align-items: center;
        justify-content: space-between;
        ul {
            display: flex;
            justify-content: space-between;
            min-width: 752px;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            li {
                display: inline-block;
                position: relative;
                a {
                    color: #7A7B7C;
                    transition: color 0.3s;
                    &.active {
                        color: white;
                    }
                    &:hover {
                        cursor: pointer;
                        color: white;
                    }
                }
            }
        }
        .button {
            padding: 12px 28px;
            background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
            box-shadow: 0px 0px 28px rgba(159, 88, 213, 0.44);
            border-radius: 4px;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: white;
        }
    }
}

