.headerAuthorised {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: .35s cubic-bezier(0.645, 0.045, 0.355, 1);
    .left {
        .logo {
            position: fixed;
            z-index: 30;
            top: 4.5px;
            left: 3.5px;
            &:hover {
                cursor: pointer;
            }
        }
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding-top: 86px;
            padding-bottom: 22px;
            position: fixed;
            top: 0;
            width: 82px;
            background: rgba(29, 25, 37, 0.75);
            backdrop-filter: blur(11px);
            .top, .bottom {
                display: flex;
                flex-direction: column;
                gap: 12px;
                .leftLink {
                    width: 44px;
                    height: 44px;
                    background: #272332;
                    border-radius: 12px;
                    transition: .3s ease;
                    svg {
                        stop {
                            transition: .3s ease;
                        }
                    }
                    &:hover .stop1 {
                        stop-color: #FB69B2;
                    }
                    &:hover .stop2 {
                        stop-color: #4646F6;
                    }
                }
            }
        }
    }
    .headerContainer {
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding-left: 112px;
        padding-right: 30px;
        .left {
            display: flex;
            gap: 8px;
            align-items: center;
            .coin {
               width: 36px;
               height: 36px;
               background: linear-gradient(90deg, #FB69B2 0%, #4646F6 100%);
               border: 1.5px solid #FFFFFF;
               border-radius: 909px;
               display: flex;
               justify-content: center;
               align-items: center;
            }
        }
        .right {
            display: flex;
            align-items: center;
            gap: 40px;
            .langs {
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                .lang {
                    color: #7A7B7C;
                    cursor: pointer;
                    &:hover {
                        color: white;
                    }
                    &.active {
                        color: white;
                    }
                }
            }
            .wallet {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}

.toastify {
    top: 77px;
}